.ag-theme-params-1 {
  --ag-font-family: "NotoSansKorean";
  --ag-header-font-weight: 400;
  --ag-cell-text-color: #595959;
}

.ag-header-cell-label {
  justify-content: center;
  color: #000;
  text-align: center;
  white-space: pre-wrap;
}

.ag-cell-wrapper.ag-checkbox-cell {
  justify-content: center;
}

.ag-header-cell-comp-wrapper {
  justify-content: center;
}

.ag-input-field-input {
  padding: 0px 5px 0px 5px;
}

.ag-header-required {
  display: flex;
}

.ag-header-required > .ag-header-cell-comp-wrapper > .ag-cell-label-container > .ag-header-cell-label::before {
  content: "*";
  color: red;
  padding-right: 3px;
}

.ag-header-cell-resize {
  width: 4px !important;
}

.ag-number-field-input {
  text-align: right;
}

.error-cell {
  border: 1px solid red !important;
}
