.ag-header-cell-label {
  justify-content: center;
  font-weight: 500;
  color: #000;
  text-align: center;
  white-space: pre-wrap;
}

.ag-cell-wrapper.ag-checkbox-cell {
  justify-content: center;
}

.ag-header-cell-comp-wrapper {
  justify-content: center;
}

.ag-input-field-input {
  padding: 0px 5px 0px 5px;
}

.ag-header-required {

}

.ag-header-required > .ag-header-cell-comp-wrapper > .ag-cell-label-container > .ag-header-cell-label::before {
  content: "*";
  color: red;
  padding-right: 5px;
}

.error-cell {
  border: 1px solid red !important;
}
