.ag-header-cell-label {
  justify-content: center;
  font-weight: 500;
  color: #000;
  text-align: center;
  white-space: pre-wrap;
}

.ag-cell-wrapper.ag-checkbox-cell {
  justify-content: center;
}

.ag-header-cell-comp-wrapper {
  justify-content: center;
}

.error-cell {
  border: 1px solid red !important;
}
