@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .common-btn {
    @apply text-sm bg-gray-100 border border-gray-200 rounded-md px-3 py-1 
    text-ellipsis whitespace-nowrap hover:bg-orange-100;
  }

  .grid-btn {
    @apply text-sm bg-gray-100 border border-gray-200 rounded-md px-3 py-1 
    text-ellipsis whitespace-nowrap hover:bg-orange-100;
  }

  .p2-search-area {
    @apply border border-area-border-color rounded-md px-4 py-2 bg-area-bg-color flex flex-row gap-x-5 gap-y-2 flex-wrap;
  }

  .p2-search-area > div > label, .p2-search-area > label {
    @apply text-sm self-center text-ellipsis whitespace-nowrap !important;
  }

  .p2-search-area > div > input, .p2-search-area > input {
    @apply px-2 h-7 border border-area-border-color !important;
  }

  .p2-form-area {
    @apply border border-area-border-color rounded-md p-4 bg-area-bg-color flex flex-col gap-x-5 gap-y-2 justify-start;
  }

  .p2-form-area > div > input, .p2-search-area > input {
    @apply px-2 h-7 border border-area-border-color !important;
  }

}

:root {
  --area-border-color: #E5E7EB;
  --area-bg-color: #FBFBFB;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.P2Select__control {
  @apply text-sm h-7 min-h-7 flex-nowrap border-area-border-color !important;
}

.P2Select__value-container {
  @apply py-0 flex-nowrap whitespace-nowrap !important;
}

.P2Select__indicator, .P2Select__clear-indicator {
  @apply p-1 !important;
}

.P2Select__menu {
  z-index: 10 !important;
}