.splitter-layout {
  position: relative;
  display: flex;
  height: 100%;
}

.splitter-layout .layout-pane {
  position: relative;
  flex: 0 0 auto;
  overflow: auto;
}

.splitter-layout .layout-pane.layout-pane-primary {
  flex: 1 1 auto;
}

.splitter-layout > .layout-splitter {
  flex: 0 0 auto;
  width: 8px;
  height: 100%;
  cursor: col-resize;
  background-color: #FFFFFF ;
}

.splitter-layout > .layout-splitter:hover {
  background-color: #FFFFFF !important;
}

.splitter-layout.layout-changing {
  cursor: col-resize;
}

.splitter-layout.splitter-layout-vertical {
  flex-direction: column;
}

.splitter-layout.splitter-layout-vertical.layout-changing {
  cursor: row-resize;
}